<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD VO 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.myapp.mapper.MemberMapper">

	<insert id="insertMember" 
			parameterType="com.project.myapp.VO.MemberVO">
		insert into pmember values (auto_increment.nextval,#{id}, #{password}, #{email},sysdate)
	</insert>
	
	<update id="updateMember"
			parameterType="com.project.myapp.VO.MemberVO">
		update pmember set pw=#{pw}, name=#{name}  where id=#{id}		
	</update>
	
	<delete id="deleteMember"
			parameterType="String">
		delete pmember where id=#{id}	
	</delete>
	
	<select id="getMember"
			parameterType="String"
			resultType="com.project.myapp.VO.MemberVO">
		select * from pmember 
			where id=#{id}		
	</select>
	
	<select id="getAllMembers"
			resultType="com.project.myapp.VO.MemberVO">
		select * from pmember
	</select>
	
</mapper>