<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases> 
   <typeAlias alias="BoardVO" type="com.practice.PostgreSQL.VO.BoardVO"></typeAlias>
    </typeAliases>
    
    <!-- <plugins>
    	<plugin interceptor="kr.co.kt.common.MybatisPlugin"></plugin>
    </plugins> -->
    
</configuration>